Repository js62789/remix: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, tsc-files, npm run lint:css -- --fix

Ignore .env files
  .gitignore
Due: none

Attempt to fail silently if pr already exists
  .github/workflows/propagate.yml
Due: none

Remove .env
  .env
Due: none

Watch css properly in dev mode
  package.json
Due: none

Add hooks linter
  eslint.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix

Move storybook eslint config
  eslint.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix

Add you-might-not-need-an-effect lint plugin
  eslint.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix

Upgrade to React Router 7
  .gitignore
  app/root.tsx
  app/routes.ts
  package-lock.json
  package.json
  tsconfig.json
  vite.config.js
Due: npm run lint:js -- --fix, tsc-files

Upgrade to React Router v7
  .gitignore
  README.md
  app/root.tsx
  app/routes/_index.tsx
  index.html
  package-lock.json
  package.json
  src/app/components/ErrorBoundary.tsx
  src/app/root.css
  src/app/root.tsx
  src/app/routes.tsx
  src/app/routes/_index.tsx
  src/app/routes/about.tsx
  src/main.tsx
  tsconfig.json
  vite.config.js
Due: npm run lint:js -- --fix, tsc-files, npm run lint:css -- --fix

Switch from data mode to framework mode
  .gitignore
  app/root.css
  app/root.css.d.ts
  app/root.tsx
  app/routes.ts
  app/routes/about.tsx
  app/routes/home.tsx
  index.html
  package-lock.json
  package.json
  src/app/components/ErrorBoundary.tsx
  src/app/root.tsx
  src/app/routes.tsx
  src/main.tsx
  tsconfig.json
  vite.config.js
Due: npm run lint:js -- --fix, tsc-files, npm run lint:css -- --fix

Path conditions:
  npm run lint:js -- --fix: any of: *.{js,jsx,ts,tsx}
  tsc-files: any of: *.{ts,tsx}
  npm run lint:css -- --fix: any of: *.css
