Repository js62789/remix: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js -- --fix, tsc-files, npm run lint:css -- --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "npm run lint:js -- --fix"
  ],
  "*.{ts,tsx}": [
    "tsc-files"
  ],
  "*.css": [
    "npm run lint:css -- --fix"
  ]
}

Add css modules types
  .lintstagedrc
  lint-staged.config.js
  package-lock.json
  package.json
Due: npm run lint:js -- --fix

Add a home route
  app/root.tsx
  app/routes/_index.tsx
Due: npm run lint:js -- --fix, tsc-files

Add a default meta description
  app/root.tsx
Due: npm run lint:js -- --fix, tsc-files

Add fastify socket.io branch
  app/context.tsx
  app/root.tsx
  package-lock.json
  package.json
  server.js
Due: npm run lint:js -- --fix, tsc-files

Add fastify-socket to template list
  README.md
Due: none

Add error boundary
  app/root.tsx
Due: npm run lint:js -- --fix, tsc-files

Add GH action for propagation
  .github/workflows/propagate.yml
Due: none

Add i18next branch
  app/entry.client.tsx
  app/entry.server.tsx
  app/i18n/client.tsx
  app/i18n/config.ts
  app/i18n/i18next.server.ts
  app/i18n/server.tsx
  app/root.tsx
  app/routes/_index.tsx
  package-lock.json
  package.json
  public/locales/en/common.json
  tsconfig.json
Due: npm run lint:js -- --fix, tsc-files

Add i18next branch to workflow
  .github/workflows/propagate.yml
Due: none

Update README.md
  README.md
Due: none

Add clinic scripts
  package.json
Due: none

Add helmet
  package-lock.json
  package.json
  server.js
Due: npm run lint:js -- --fix

Remove .env
  .env
Due: none

Ignore .env files
  .gitignore
Due: none

Attempt to fail silently if pr already exists
  .github/workflows/propagate.yml
Due: none
